i{
    font-size: 36px;
    color: blue;
    
}
.icons:hover{
    color: black;
}
.hero{
    height: 150px;
    /* background-color: gold; */
    background-image: url('/assets/images/frontenddeveloper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.nav-icon{
    font-size: 26px;
    color: black;
}
.img-height{
    height: 275px;
}
h3 {
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3:hover{
    color: whitesmoke;
}
.btn{
background-image: linear-gradient(to right, goldenrod , orange); 
}
